<div class="container">
  <h4 class="thin">Edit <%= @lipstick.shade %></h4>

  <form action="/lipsticks/<%= @lipstick.id %>" method="POST">
    <label>Lipstick Shade</label>
    <input type="text" name="shade" value="<%= @lipstick.shade %>">

    <label>Lipstick Brand</label>
    <input type="text" name="brand" value="<%= @lipstick.brand %>"><br><br><br><br>

    <button class="btn waves-effect waves-light black" type="submit" name="action">Update
    <i class="material-icons right">mode_edit</i>
  </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button class="btn waves-effect waves-light black" type="submit" name="action">Delete
  <i class="material-icons right">delete</i>
</button>

  </form>

</div>
