<div class="container">
  <h3 class="thin"> Add A New Lipstick</h3>
  <form action="/lipsticks" method="POST">
    <label>Lipstick Shade</label>
    <input type="text" name="shade">

    <label>Lipstick Brand</label>
    <input type="text" name="brand">


    <button class="btn waves-effect waves-light black" type="submit" name="action">Create
    <i class="material-icons right">send</i>

  </form>
</div>
