<div class="container">
  <h4 class="thin">You just add:</h4>

  Lipstick Shade: <%= @lipstick.shade %> | <%= @lipstick.brand %> <br> <br>

    <a href="/lipsticks">See All Lipsticks</a><br>
    <a href="/bags">See All Makup Bags</a>


</div>
