<div class="container">

  <%= @lipstick.shade %> <%= @lipstick.brand %>

  Bag: <a href="/bags/<%@lipstick.makeupbag_id%>"><%= @lipstick.makeupbag_id.name%></a>
  <a href="/lipsticks/<%= @lipstick.id%>/edit">Edit</a> <br>

  <div>
      <a href="/bags">See All Makup Bags</a>

  </div>


</div>
