<div class="container">
  <h3 class="thin">Edit <%= @bag.name %> Makeup Bag</h3>
    <form action="/bags/<%= @bag.id %>" method="POST">
      <label>New Makeup Bag Name </label>
      <input type="text" name="name" value="<%=@bag.name%>">

      <button class="btn waves-effect waves-light black" type="submit" name="action">Update
      <i class="material-icons right">mode_edit</i>
    </button>
    </form>
  </div>
