<div class="container">
  <h3 class="thin">All Makeup Bags</h3>
<% @bags.each do |bag| %>
  <ul>
    <%= bag.name %> <br>
    <a href="/bags/<%= bag.id %>/edit">Edit Bag</a>
  </ul>

<% end %>

</div>
