<div class="container">
  <h3 class="thin">Welcome <%= @user.username %></h3>
  <h4 class="thin">Here are your Makeup Bags</h4>
<% @bags.each do |bag| %>
  <ul>
    <%= bag.name %> <br>
    <a href="/bags/<%= bag.id %>/edit">Edit Bag</a>
  </ul>

<% end %>

<br><br>
<h4><a href="/logout">Log Out</a></h4>

</div>
