<div class="container">
  <h3 class="thin">Welcome</h3>
  <h4 class="thin">Here are your Makeup Bags</h4>
<% @bags.each do |bag| %>
  <ul>
    <%= bag.name %> <br>
    <a href="/bags/<%= bag.id %>/edit">Edit Bag</a>
  </ul>

<% end %>

</div>
