<div class="container">
<h3 class="thin">Add A New Makeup Bag</h3>


<form action="/bags" method="POST">
  <label>Bag Name</label>
  <input type="text" name="name"><br><br>

  <button class="btn waves-effect waves-light black" type="submit" name="action">Create New Makeup Bag
  <i class="material-icons right">send</i>

</form>

</div>
