<div class="container">
  <% @bag.id %>
  <h2 class="thin">Makeup Bag Name: <br />
     <%= @bag.name %></h2>

  <h4 class="thin">Itemized List of Lipsticks:</h4>


  <a href="/bags/<%=@bag.id%>/edit">Edit Bag</a>
</div>
