<div class="container">
  <% @bag.id %>
  <h2 class="thin">Makeup Bag:
     <%= @bag.name %></h2>

  <h4 class="thin">Lipsticks:</h4>
  <a href="/lipsticks">See All Lipsticks</a><br><br>

  <a href="/lipsticks/new">Create New Lipstick</a><br><br>

  <a href="/bags/<%=@bag.id%>/edit">Edit Bag Name</a>
</div>
