<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Makeup Organizer</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a href="/" class="brand-logo center light italic">Makeup Organizer</a>
    </div>
  </nav>

  <div class="container">
    <h3 class=" center thin">WELCOME</h3>
    <p class="text-flow light-grey">This app will help organize your makeup bags. You can track your lipsticks.</p>

    <div class="row">

      <div class="col s6">
        <!-- Promo Content 1 goes here -->
      </div>
      <div class="col s6">
        <!-- Promo Content 2 goes here -->
      </div>

    </div>

    <ul>
      <li>New to Makeup Organizer? Signup for a free account and tracking and organizing your makeup <a href="/signup">Signup</a></li><br>
      <li>Already have an exsisting account? Go ahead and login. <a href="/login">Login</a></li>
    </ul>
  </div>



</body>
</html>
