<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Makeup Organizer</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper black darken-1">
      <a href="/" class="brand-logo center light"><i class="large material-icons">blur_on</i></a>
    </div>
  </nav>

  <div class="container">
    <h4 class=" center thin">Welcome to Makeup Organizer</h4>


    <div id="about " class="container ">
    <div class="section ">

      <!--   Icon Section   -->
      <div class="row ">
        <div class="col s12 m6 ">
          <div class="icon-block ">
            <h2 class="center purple-text "><i class=" large material-icons "><i class="large material-icons">supervisor_account</i></i></h2>
            <h5 class="center">Signup</h5>

              <p class="center light ">

              Is your makeup drawer a mess?<br />
              Signup for a free account. <br>
               Track and organize your makeup.<br /> <a href="/signup">Signup</a></p>
          </div>
        </div>

        <div class="col s12 m6 ">
          <div class="icon-block ">
            <h2 class="center purple-text "><i class="large material-icons ">stars</i></h2>
            <h5 class="center ">Stay Organized</h5>

              <p class=" center light ">Already have an exsisting account?<br />
               Never lose or misplace your lipstick again.<br /> <a href="/login">Login</a></li>
             </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <footer>
    <div class="footer-copyright center ">
        <div class="container "><br><br><br><br><br>
           Made by ToAnh Tran with <i id="footer " class="material-icons ">favorite</i></a>
        </div>
      </div>
    </footer>

</body>
</html>
